<h1 style="color:blue" align="center">Pandas Time Series Analysis: Period and PeriodIndex</h1>

<h3 style="color:purple">Yearly Period</h3>

In [160]:
import pandas as pd
y = pd.Period('2016')
y

Period('2016', 'Y-DEC')

In [161]:
y.start_time

Timestamp('2016-01-01 00:00:00')

In [162]:
y.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [163]:
y.is_leap_year

True

<h3 style="color:purple">Monthly Period</h3>

In [164]:
m = pd.Period('2017-12')
m

Period('2017-12', 'M')

In [165]:
m.start_time

Timestamp('2017-12-01 00:00:00')

In [166]:
m.end_time

Timestamp('2017-12-31 23:59:59.999999999')

In [167]:
m+1

Period('2018-01', 'M')

<h3 style="color:purple">Daily Period</h3>

In [168]:
d = pd.Period('2016-02-28', freq='D')
d

Period('2016-02-28', 'D')

In [169]:
d.start_time

Timestamp('2016-02-28 00:00:00')

In [170]:
d.end_time

Timestamp('2016-02-28 23:59:59.999999999')

In [171]:
d+1

Period('2016-02-29', 'D')

<h3 style="color:purple">Hourly Period</h3>

In [172]:
h = pd.Period('2017-08-15 23:00:00',freq='h')
h

Period('2017-08-15 23:00', 'h')

In [173]:
h+1

Period('2017-08-16 00:00', 'h')

<h4>Achieve same results using pandas offsets hour</h4>

In [174]:
h+pd.offsets.Hour(1)

Period('2017-08-16 00:00', 'h')

<h3 style="color:purple">Quarterly Period</h3>

If you put freq='Q-JAN', you say your period ends in January

In [175]:
q1= pd.Period('2017Q1', freq='Q-JAN')
q1

Period('2017Q1', 'Q-JAN')

In [176]:
q1.start_time

Timestamp('2016-02-01 00:00:00')

In [177]:
q1.end_time

Timestamp('2016-04-30 23:59:59.999999999')

<h4>Use asfreq to convert period to a different frequency</h4>

In [178]:
q1.asfreq('M',how='start')

Period('2016-02', 'M')

In [179]:
q1.asfreq('M',how='end')

Period('2016-04', 'M')

<h3 style="color:purple">Weekly Period</h3>

In [180]:
w = pd.Period('2017-07-05',freq='W')
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [181]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [182]:
w2 = pd.Period('2017-08-15',freq='W')
w2

Period('2017-08-14/2017-08-20', 'W-SUN')

In [183]:
w2-w

<h3 style="color:purple">PeriodIndex and period_range</h3>

In [184]:
r = pd.period_range('2011', '2017', freq='q')
r

C:\Users\Sathi\AppData\Local\Temp\ipykernel_19384\3343801356.py:1: FutureWarning: 'q' is deprecated and will be removed in a future version, please use 'Q' instead.
  r = pd.period_range('2011', '2017', freq='q')

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]')

In [185]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [186]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

**Walmart's fiscal year ends in Jan, below is how you generate walmart's fiscal quarters between 2011 and 2017**

In [187]:
r = pd.period_range('2011', '2017', freq='q-jan')
r

C:\Users\Sathi\AppData\Local\Temp\ipykernel_19384\2587666501.py:1: FutureWarning: 'q-jan' is deprecated and will be removed in a future version, please use 'Q-JAN' instead.
  r = pd.period_range('2011', '2017', freq='q-jan')

PeriodIndex(['2011Q4', '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1',
             '2013Q2', '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3',
             '2014Q4', '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1',
             '2016Q2', '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3',
             '2017Q4'],
            dtype='period[Q-JAN]')

In [188]:
r[0].start_time

Timestamp('2010-11-01 00:00:00')

In [189]:
r[0].end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [190]:
r = pd.PeriodIndex(start='2016-01', freq='3M', periods=10)
r

TypeError: __new__() got an unexpected keyword argument start

In [192]:
import numpy as np
import pandas as pd

# Define idx (e.g., a range of dates or simple numbers)
idx = pd.date_range('2016-01-01', periods=10, freq='D')  # 10 daily periods starting from January 1st, 2023

# Create the Series using idx as the index
ps = pd.Series(np.random.randn(len(idx)), index=idx)
print(ps)

2016-01-01   -0.074224
2016-01-02   -0.446328
2016-01-03   -0.610799
2016-01-04   -0.056734
2016-01-05   -0.901586
2016-01-06    0.712505
2016-01-07    0.083683
2016-01-08   -0.504730
2016-01-09    1.322406
2016-01-10    0.814700
Freq: D, dtype: float64

<h4>Partial Indexing</h4>

In [193]:
ps['2016']

2016-01-01   -0.074224
2016-01-02   -0.446328
2016-01-03   -0.610799
2016-01-04   -0.056734
2016-01-05   -0.901586
2016-01-06    0.712505
2016-01-07    0.083683
2016-01-08   -0.504730
2016-01-09    1.322406
2016-01-10    0.814700
Freq: D, dtype: float64

In [194]:
ps['2016':'2017']

2016-01-01   -0.074224
2016-01-02   -0.446328
2016-01-03   -0.610799
2016-01-04   -0.056734
2016-01-05   -0.901586
2016-01-06    0.712505
2016-01-07    0.083683
2016-01-08   -0.504730
2016-01-09    1.322406
2016-01-10    0.814700
Freq: D, dtype: float64

<h4>Converting between representations</h4>

In [195]:
pst = ps.to_timestamp()
pst

TypeError: unsupported Type DatetimeIndex

In [196]:
pst.index

DatetimeIndex(['2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01', '2023-10-01'],
              dtype='datetime64[ns]', freq='MS')

In [197]:
ps = pst.to_period()
ps

2023-01   -0.825643
2023-02    0.044030
2023-03   -0.548269
2023-04    0.166136
2023-05   -0.897153
2023-06   -2.225633
2023-07    1.375782
2023-08   -0.439704
2023-09    0.605218
2023-10   -0.066455
Freq: M, dtype: float64

In [198]:
ps.index

PeriodIndex(['2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06',
             '2023-07', '2023-08', '2023-09', '2023-10'],
            dtype='period[M]')

<h3 style="color:purple">Processing Wal Mart's Financials</h3>

In [209]:
import pandas as pd
df = pd.read_csv("wmt.csv")
df

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [210]:
df.set_index("Line Item",inplace=True)
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [211]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [212]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [215]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]')

In [216]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

<h4 style="color:green">Add start date end date columns to dataframe</h4>

In [217]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [218]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999